<footer>
  <div class="content-padding">

    <div class="footer-content">

      <p>Copyright &copy; Kians Azizatikarna</p>

      <div class="social-media-icons">
        <a href="#"> <i class="fa fa-user"></i></a>
        <a href="#"> <i class="fa fa-edit"></i></a>

      </div>

    </div>

  </div>
</foorter>
